<h3>Eindopdracht - </h3>

<form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
    <section>
        <label for="naam">Naam: </label>
        <div class="row">
            <input id="naam" type="text" placeholder="Uw naam" formControlName="naam">
        </div>
    </section>
    <br>
    <section>
        <label for="bedrag">Bedrag (in €): </label>
        <div class="row">
            <input id="bedrag" type="number" value="0" formControlName="bedrag">
        </div>
    </section>
    <br>
    <section>
        <button mat-flat-button color="primary" class="button" type="submit">Betaal</button>
    </section>
    <br>
</form>