<form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Verstuurder:</mat-label>
            <input matInput id="zender" formControlName="zender" type="text"  placeholder="Uw naam" required>
            <mat-icon matSuffix>accessibility</mat-icon>
            <mat-hint>De zender van de betaling</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Ontvanger:</mat-label>
            <input matInput id="ontvanger" formControlName="ontvanger" type="text"  placeholder="De naam van de onvanger" required>
            <mat-icon matSuffix>accessibility</mat-icon>
            <mat-hint>De ontvanger van de betaling</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Bedrag:</mat-label>
            <input matInput id="bedrag" formControlName="bedrag" type="number"  min="0.01" step="0.01"  placeholder="Het te betalen bedrag" required>
            <mat-icon matSuffix>,- euro_symbol</mat-icon>
            <mat-hint>Het te versturen bedrag</mat-hint>
        </mat-form-field>
    </p>
    <button mat-flat-button color="primary" type="submit">Betaal</button>
    &nbsp;
    <button mat-flat-button color="accent"(click)="onReset()" type='button'>Reset</button>
</form>